<?php

// Example simplesamlphp config
$config['secretsalt'] = '{{simplesamlphp_secrets['secretsalt']}}';
$config['auth.adminpassword'] = '{{simplesamlphp_secrets['auth.adminpassword'][drush_alias]}}';
